doctype html
html
    head
        title Collections
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="css/bootstrap.css")
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            ul.navbar-nav
                each collection in collections
                    li.nav-item
                        a.nav-link(href='/' + collection.slug)= collection.title
        main.container(role="main")
            if sections
                each section, title in sections
                    div.border.rounded.row.mb-4
                        div.text-light.col-12.navbar.navbar-dark(class= section.owned<section.items.length ? "bg-secondary" : "bg-info")
                            span.navbar-brand #{title} (#{section.owned} of #{section.items.length})
                            button.btn.btn-primary(data-toggle='collapse', href='#' + section.slug.replace(/[.]/g, '-')) Anzeigen
                        div.collapse(id=section.slug.replace(/[.]/g, '-'))
                            form(action='/' + collectionSlug + '/' + section.slug, method='POST')
                                table
                                    each item, i in section.items
                                        tr(class=item._owned ? ["bg-info", "text-light"]:[])
                                            each v, k in item
                                                if !k.startsWith('_')
                                                    td.px-1= v
                                            td.px-1
                                                a(name=item._anchor)
                                                button.btn.btn-block.btn-primary(value=i, name='itemNo')
                                                    if item._owned
                                                        span Remove
                                                    else
                                                        span Add
            else
                p Please select a collection.
        footer.row
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
            script(src="js/bootstrap.bundle.js")
            script(src="toggle.js")